.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  padding-bottom: 30px;
  font-size: x-large;
  font-weight: bold;

  .black {
    color: black;
  }

  .white {
    color: white;
  }
}
