.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vh;
  height: 100vh;
  margin: auto;
}

header {
  margin-bottom: 60px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;

  .black {
    color: black;
  }

  .white {
    color: white;
  }
}
